doctype html 
html(lang='en')
  head
    title Site Badges
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Could not find entity')
    link(rel='stylesheet', href='/css/style.css')

    script(type="text/javascript" src='/js/particles.min.js' defer)
    script(type="text/javascript" src='/js/app.js' defer)

  body
    include partials/nav.pug
    #content
      #particles-js
      main.center.spread
        h1 Error Finding Entity
        p Make sure you spelled the entity correctly and that it exists!
        .back
          <button onclick="window.history.back();">Back</button>